.icon-button {
    border: none;
    background: none;
    color: $icon-button-color;
}

.add-button, .btn-add {
    border: 1px solid $icon-button-color;
    color: $icon-button-color;
    margin-left: 10px;

    &.btn-ls, &.big {
        height: $default-space-xl;
        width: $default-space-xl;
        // height: 48px;
        // width: 48px;
        border-radius: 28px;
        font-size: 20px;
    }

    &.btn-sm, &.small {
        height: $default-space-m;
        width: $default-space-m;
        // height: 28px;
        // width: 28px;
        border-radius: 14px;
        font-size: 16px;
    }
}

.color-button {
    height: $default-space-xl;
    // height: 45px;
    padding: $default-space $default-space-s;
    // padding: 10px 15px;
    border: none;
    border-radius: $border-radius;
    margin-bottom: $default-space-s;
    margin-right: $default-space-s;
    background: $new-gray;

    svg {
        margin-right: 10px;
    }

    &.blue-full {
        color: $white;
        background: $blue-accent;
    }

    &.red-full {
        color: $white;
        background: $red-accent;
    }

    &.green-full {
        color: $white;
        background: $green-accent;
    }

    &.yellow-full {
        color: $white;
        background: $yellow-accent;
    }

    &.gray-full {
        color: $white;
        background: $new-dark-gray;
        border: 1px solid $new-dark-gray;
    }

    &.blue {
        color: $blue-accent;
        background: transparent;
        border: 1px solid $blue-accent;
    }

    &.red {
        color: $red-accent;
        background: transparent;
        border: 1px solid $red-accent;
    }

    &.green {
        color: $green-accent;
        background: transparent;
        border: 1px solid $green-accent;
    }

    &.yellow {
        color: $yellow-accent;
        background: transparent;
        border: 1px solid $yellow-accent;
    }

    &.gray {
        color: $new-darker-gray;
        background: transparent;
        border: 1px solid $new-dark-gray;
    }

}

.IconButton {
    @extend .icon-button;

    border-radius: 15px;
    height: 30px;
    padding: 4px 12px;
    margin-right: 5px;
    font-size: 14px;
    color: $new-darker-gray;
    outline: 0;

    &:hover,
    &:focus {
        outline: 0;
    }

    svg {
        margin-right: 8px;
    }

    &.HoverGreen:hover {
        background-color: $green;
        color: $white;
    }

    &.HoverBlue:hover {
        background-color: $blue;
        color: $white;
    }

    &.HoverRed:hover {
        background-color: $red;
        color: $white;
    }
}