@import './variables';

.OverlayFrame {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.2);
    padding-top: 120px;
    overflow: scroll;
}


.cardActive {
    margin-top: -10px;
    box-shadow: $box-shadow-lg;
    margin-bottom: calc(#{$default-space} + 10px);
}

.card {
    &:hover {
        @extend .cardActive;
    }
}

.card,
.card-now-hover {
    width: 100%;

    padding: $default-space-l;
    margin-bottom: $default-space-l;

    background: none;
    // background-color: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    background-color: $card-bg-color;

    transition: width 300ms ease-in-out, height 500ms ease-in-out, max-height 500ms ease-in-out,
        box-shadow 300ms cubic-bezier(0.5, 0, 0.5, 0.99),
        // ease-in-out,
            margin 300ms cubic-bezier(0.5, 0, 0.5, 0.99); //ease-in-out;

    &GoTo {
        background: radial-gradient(circle at top, #0ebdff 0%, #1414ae 100%);
        padding-top: 80px;
        border: none;
    }

    a {
        font-size: 24px;
        line-height: 1.7;
        color: #025aa5;
        text-decoration: none;
    }
}

.background {
    background-color: $blue-gray; //$new-light-gray;
    height: 100vh;
    margin-top: -130px;
    padding-top: 150px;
}

.backgroundHelper {
    background-color: $blue-gray; //$new-light-gray;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50vw - 400px);
}

.iconButton {
    background: none;
    border: none;
    color: $new-dark-gray;
    padding: 0;
}

@keyframes slidein {
    from {
        transform: translate(0, 100vh);
    }

    to {
        transform: translate(0, 0%);
    }
}

.pageContainer {
    margin-bottom: $default-space-xxl;
}
