.icon-button {
    border: none;
    background: none;
    color: $icon-button-color;
}

.add-button, .btn-add {
    border: 1px solid $icon-button-color;
    color: $icon-button-color;
    margin-left: 10px;

    &.btn-ls, &.big {
        height: 48px;
        width: 48px;
        border-radius: 28px;
        font-size: 20px;
    }

    &.btn-sm, &.small {
        height: 28px;
        width: 28px;
        border-radius: 14px;
        font-size: 16px;
    }
}


