@import '../../styles/barel.scss';

.Select {
    border: 1px solid $new-dark-gray;
    margin-right: $default-space-l;
    border-radius: 5px;
    padding: 9px;
    height: 46px;
    width: 170px;
    text-align: left;

    select {
        border: none;
        background: none;
        width: 100%;
    }
}

.Search {
    border: 1px solid $new-dark-gray;
    border-radius: 5px;
    padding: 9px 15px;
    width: 200px;
    margin-right: $default-space-l;
    height: 46px;

    input {
        border: none;
        background: none;

        option {
            color: $new-dark-gray;
        }
    }
}

.Button {
    border: 1px solid $new-darker-gray;
    background: none;
    color: $new-darker-gray;
    margin-right: $default-space-s;
    height: 46px;
}
