@import '../../bootstrap.scss';
@import '../../style/card.scss';

.CoffeeContainer {
    margin-top: 50px;
    margin-left: -60px;
    
    @include media-breakpoint-down(md) {
        margin-left: 0;
    }
}

.Container {
    margin-top: 100px;
}

.Introtext {
    margin-top: $default-space;
    margin-right: $default-space-large;
    padding: $default-space;
    width: 80%;

    h2 {
        padding-bottom: $default-space-small;
    }
}

.BackgroundHelper {
    @extend .backgroundHelper;
    position: fixed;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.Filter {
    width: fit-content;
    text-align: right;
    margin-left: auto;

    select {
        width: 150px;
    }
}

.MobileHeader {
    margin-bottom: $default-space;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    svg {
        margin-right: 20px;
    }
}