@import '../../bootstrap.scss';
@import '../../style/card.scss';

.CoffeeContainer {
    margin-top: 50px;
    margin-left: -60px;
}

.BackgroundHelper {
    @extend .backgroundHelper;
}

.Filter {
    width: fit-content;
    text-align: right;
    margin-left: auto;

    select {
        width: 150px;
    }
}