.WTCard {
    @extend .card;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    border: none;
    padding: $default-space-xl;

    animation-duration: 1s;
    animation-name: slidein;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }

    // &.Extended,
    // &.Edit {
    //     @extend .cardActive;
    //     max-height: 900px;
    // }

    .Row {
        display: flex;
        flex-direction: row;
        margin-bottom: $default-space-xxl;
    }

    .ButtonSection {
        display: flex;
        width: 100%;
        padding: $default-space-l 0 0 0;

        button:last-of-type {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .ActionSection {
        position: absolute;
        top: 15px;
        right: 15px;

        @include media-breakpoint-down(sm) {
            top: 265px;
        }

        // button {
        //     @extend .icon-button;
        // }

        // .IconButton {
        //     @extend .icon-button;

        //     border-radius: 15px;
        //     height: 30px;
        //     padding: 4px 12px;
        //     margin-right: 5px;
        //     font-size: 14px;
        //     color: $new-darker-gray;
        //     outline: 0;

        //     &:hover,
        //     &:focus {
        //         outline: 0;
        //     }

        //     svg {
        //         margin-right: 8px;
        //     }

        //     &.HoverGreen:hover {
        //         background-color: $green;
        //         color: $white;
        //     }

        //     &.HoverBlue:hover {
        //         background-color: $blue;
        //         color: $white;
        //     }

        //     &.HoverRed:hover {
        //         background-color: $red;
        //         color: $white;
        //     }
        // }
    }

    .ImageSection {
        width: 100%;
        // width: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: $default-space-s;

        @include media-breakpoint-down(sm) {
            width: 100%;
            background: $new-darker-gray;
            min-width: 250px;
            text-align: center;
        }

        img,
        .Img {
            width: 100px;
            height: 100px;
            border-radius: $border-radius-min;
            margin: $default-space-s $default-space-s 0 0;
            display: inline-block;

            background-size: cover;
            background-position: center;

            &:first-of-type {
                width: 220px;
                height: 220px;
                border-radius: $border-radius;
                margin-top: 0;
            }
        }

        .Image {
            position: relative;
            margin: $default-space-s $default-space-s 0 0;

            button {
                position: absolute;
                height: 32px;
                width: 32px;
                top: 0;
                right: 0px;
                background: $new-dark-gray;
                border-radius: 16px;
            }

            img {
                width: 120px;
            }
        }

        .UploadArea {
            height: 120px;
            width: 120px;
            border: 1px dashed $new-dark-gray;
            border-radius: $border-radius;
            margin: $default-space-s $default-space-s 0 0;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            label {
                position: absolute;
                top: 50px;
                left: 50px;
            }

            button {
                margin: auto;
            }
        }

        .Fileupload {
            opacity: 0;
            width: 100%;
            height: 100%;
            background: red;
        }
    }

    .TextSection {
        width: 100%;
        margin-left: $default-space-s;
        padding-left: $default-space-s;
        border-left: 1px solid $new-dark-gray;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }

        .BrewingTab {
            height: 500px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .Description {
            width: 100%;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: $line-space;

            color: $gray-600;
            width: 50%;

            span {
                color: $black;
                margin-right: 5px;
                width: 40px;
                display: inline-block;
                text-align: center;
            }
        }

        h2 {
            width: 100%;
            font-size: 20px;
            font-weight: 700;
            margin: 0 0 15px 5px;
            line-height: 24xp;
            text-align: center;
        }
    }
}

.BrewingWindow {
    @extend .card;
    @extend .cardActive;

    width: 100%;
    padding: $default-padding $default-padding $default-padding 0;

    > h6 {
        padding-left: $default-padding;
        margin-bottom: $default-space-s;
    }

    .BrewList {
        background: $blue-gray;
        border-radius: 0 $border-radius-m $border-radius-m 0;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        padding: $default-space-m;
        margin: 0 0 $default-space-m 0;

        button {
            border: none;
            text-align: center;
            background: $white;
            font-weight: 600;
            width: 100%;
            height: $default-space-l;
            border-radius: $border-radius-s;
            bottom: $default-space-m;
            align-self: flex-end;

            svg {
                margin-right: $default-space-s;
            }
        }

        ul {
            padding: 0;
            list-style: none;
            flex-grow: 10;
            margin: 0;
            padding: 0;

            .NoContent {
                width: 100%;
                text-align: center;
                margin-top: $default-space-m;

                img {
                    display: block;
                    width: 60px;
                    margin-left: 35%;
                }
            }

            li {
                padding: 0;

                &.Active {
                    font-weight: 700;
                }
            }
        }
    }

    .CloseButton {
        position: absolute;
        top: $default-space-s;
        right: $default-space-s;

        button {
            border: none;
            background: none;
        }
    }
}

.BrewingCard {
    padding: 0 $default-space-m $default-space-m $default-space-m;

    .ButtonSection {
        display: flex;
        flex-direction: row;
    }

    .NoContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            display: block;
            margin-bottom: $default-space-s;
        }
    }
}

.EditFrame {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.2);
    padding-top: 120px;
    overflow: scroll;
}

.EditBackground {
    * {
        filter: blur(5px);
    }
}
