@import '../../bootstrap.scss';
@import '../../style/card.scss';

.MainNavigator {
    margin-top: $default-space-large;

    .Teaser {
        margin-bottom: $default-space-large;
        padding-left: 50px;

        p {
            width: $teaser-with;
        }

        &::before {
            content: '#';
            position: absolute;
            font-size: 90px;
            font-weight: 600;
            top: -60px;
            left: 0;
            color: #b7c3cb;
            opacity: 0.3;
        }
    }

    .Menu {
        ul {
            list-style: none;
            margin: 0 $menu-margin 0 0;
            padding: 0;
            width: $main-menu-with;

            li {
                @extend .display-4;
                position: relative;
                width: 107%;

                .icon {
                    position: absolute;
                    right: 0;
                    display: none;
                }

                &.Active {
                    text-decoration: underline;

                    .icon {
                        display: inline-block;
                    }
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .SubMenu {
        width: $sub-menu-with;
        opacity: 0;
        margin: $default-space-large $menu-margin 0 0; //margin-top -icon height
        // margin-top: $default-space-large;

        transition: opacity 300ms ease-in-out;
        transition-delay: 300ms;

        &.ActiveSubMenu {
            opacity: 1;
            margin-left: 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-size: 26px;
                line-height: 38px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .Background {
        @extend .background;
        height: 120vh;

        max-width: calc(#{$main-menu-with} + #{$menu-margin});

        &.ActiveMenu {
            max-width: calc(#{$main-menu-with} + #{$menu-margin} + #{$sub-menu-with} + #{$menu-margin});
        }

        transition: max-width 300ms ease-in-out;
    }

    .BackgroundHelper {
        @extend .backgroundHelper;
    }
}
