@import '../../styles/barel.scss';

.select {
    @extend .formElement;
    padding: 10px;

    select {
        width: 80%;
        background: none;
        border: none;
        margin-left: 10px;
    }
}

.Icon {
    // margin: 10px;
}
