@import '../../bootstrap.scss';
@import '../../style/card.scss';

.CoffeeCardEdit {
    @extend .card;
    @extend .cardActive;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    border: none;
    padding: 45px;

    .ImageSection {
        width: 250px;
        height: 250px;

        img {
            width: 40%;
        }

        .UploadArea {
            height: 220px;
            width: 220px;
            border: 1px dashed $new-dark-gray;
            border-radius: $border-radius;
            margin-right: 35px;

            display: flex;
            align-items: center;
            justify-content: center;

            button {
                margin: auto;
            }
        }
    }

    .ButtonSection {
        margin-top: $default-space;
        display: flex;
        width: 100%;

        button:last-of-type {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .TextSection {
        border-left: 1px solid rgba($color: #000000, $alpha: 0.4);
        padding: 0 $default-space $default-space-small $default-space;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;

        width: 100%;

        form {
            width: 100%;
        }

        input,
        .form-control {
            border-radius: $border-radius-min;
            background: $new-light-gray;
            height: 45px;
            margin-bottom: $line-space;
        }

        .Description {
            width: 100%;
        }

        h2 {
            width: 100%;
            text-align: center;
            margin-bottom: $line-space;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: $line-space;

            color: $gray-600;
            width: 50%;

            span {
                color: $black;
                margin-right: 5px;
                width: 40px;
                display: inline-block;
                text-align: center;
            }
        }
    }
}
