@import '../../bootstrap.scss';
@import '../../style/card.scss';

.CoffeeCard {
    @extend .card;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    max-height: 260px;
    border: none;
    padding: 0;

    &.Extended, &.Edit {
        @extend .cardActive;
        max-height: 700px;
    }

    &ActionSection {
        position: absolute;
        top: 15px;
        right: 15px;

        button {
            @extend .icon-button;
        }
    }

    &ImageSection {
        width: 250px;
        height: 250px;

        img {
            width: 100px;

            &:first-of-type {
                width: 250px;
            }
        }
    }

    &TextSection {
        border-left: 1px solid rgba($color: #000000, $alpha: 0.4);
        padding: $default-space;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;

        width: 100%;

        .Description {
            width: 100%;
        }

        h2 {
            width: 100%;
            font-size: 20px;
            font-weight: 700;
            margin: 0 0 20px 5px;
            line-height: 24xp;
        }
        
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 15px;

            color: $gray-600;
            width: 50%;

            span {
                color: $black;
                margin-right: 5px;
                width: 40px;
                display: inline-block;
                text-align: center;
            }
        }
    }
}
