@import '../../bootstrap.scss';
@import '../../style/card.scss';

.CoffeeCard {
    @extend .card;

    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    max-height: 260px;

    &.Extended {
        max-height: 700px;
    }

    &.Edit {
        max-height: 700px;
    }

    &ActionSection {
        position: absolute;
        top: 15px;
        right: 15px;

        button {
            @extend .icon-button;
        }
    }

    &ImageSection {
        width: 200px;
        margin-right: $default-space;

        img {
            width: 100px;
            border-radius: 12px;
            margin-bottom: 10px;

            &:first-of-type {
                width: 200px;
            }
        }
    }

    &TextSection {
        border-left: 1px solid rgba($color: #000000, $alpha: 0.4);
        padding-left: $default-space;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;

        width: 100%;

        form {
            width: 100%;
        }

        .Description {
            width: 100%;
            margin-top: 10px;
        }

        h2 {
            width: 100%;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 12px;
            line-height: 24xp;
        }
        
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 7px;

            color: $gray-600;
            width: 50%;

            span {
                color: $black;
                margin-right: 5px;
            }
        }
    }
}
