@import '../../bootstrap.scss';
@import '../../style/card.scss';



.CoffeeCardEdit {
    @extend .card;
    @extend .cardActive;

    overflow: hidden;
    position: relative;
    border: none;
    padding: 45px;

    .Row {
        display: flex;
        flex-direction: row;
        margin-bottom: $default-space-large;
    }

    .Fileupload {
        display: none;
    }

    .ImageSection {
        width: 250px;
        height: 250px;

        img {
            width: 40%;
        }

        .UploadArea {
            height: 220px;
            width: 220px;
            border: 1px dashed $new-dark-gray;
            border-radius: $border-radius;
            margin-right: 35px;

            display: flex;
            align-items: center;
            justify-content: center;

            button {
                margin: auto;
            }
        }
    }

    .ButtonSection {
        display: flex;
        width: 100%;
        padding: $default-space 0 0 0;

        button:last-of-type {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .TextSection {
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // align-content: flex-start;
        // align-items: flex-start;

        // width: 100%;

        h2 {
            width: 100%;
            text-align: center;
            margin-bottom: $line-space;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: $line-space;

            color: $gray-600;
            width: 50%;

            span {
                color: $black;
                margin-right: 5px;
                width: 40px;
                display: inline-block;
                text-align: center;
            }
        }
    }

    .TabBar {
        width: 100%;
        text-align: center;
        padding: $default-space 0;

        ul {
            padding: 0;
            
            li {
                display: inline;
                padding: 9px 20px;
                font-size: 16px;
                color: $new-darker-gray;

                &.Active {
                    background: $blue;
                    color: $white;
                    border-radius: 18px;
                }
            }
        }
    }
}
