@import './../../styles/barel.scss';

.CoffeeContainer {
    margin-top: 50px;
    margin-left: -60px;

    @include media-breakpoint-down(md) {
        margin-left: 0;
    }
}

.Container {
    @extend .container;
    margin-top: 100px;
}

.BackgroundHelper {
    @extend .backgroundHelper;
    position: fixed;

    @include media-breakpoint-down(md) {
        display: none;
    }
}



.MobileHeader {
    margin-bottom: $default-space;

    @include media-breakpoint-up(lg) {
        display: none;
    }

    svg {
        margin-right: 20px;
    }
}

.CoffeeContent {
    margin-bottom: 50px;
}

.EditBackground {
    * {
        filter: blur(5px);
    }
}