@import '../../styles/barel.scss';

.Sidemenu {
    // position: relative;
    @extend .background;
    // padding-top: $default-space;
    position: fixed;
    height: 120%;
    width: 270px;


    @include media-breakpoint-down(md) {
        display: none;
    }

    .IconHeader {
        display: flex;
        flex-direction: row;
        vertical-align: middle;

        img, svg {
            display: block;
            width: 150px;
        }

        h1 {
            font-size: 32px;
            width: 50%;
            display: inline-block;
            margin-left: 20px;
            padding-top: 30px;
        }
    }

    h2 {
        margin-bottom: 20px;
    }

    .MenuList {
        padding-left: 15px;
        margin-top: $default-space-large;

        li {
            @extend h4;
            list-style: none;
            cursor: pointer;
            line-height: 42px;

            &.active {
                line-height: 42px;
                font-weight: 700;

                ul {
                    max-height: 500px;
                    font-weight: 600;
                    margin: 16px 0 20px 0;

                    li {
                        margin: 0;
                        line-height: 40px;
                    }

                    .Active {
                        font-weight: bold;
                    }
                }
            }
        }

        .MenuSubList {
            padding: 0 0 0 10px;
            margin-left: 10px;
            max-height: 0px;
            overflow: hidden;

            transition: max-height 700ms ease-in-out;

            li {
                @extend h5;
                list-style: disc;
                cursor: pointer;
            }
        }
    }
}

.BackgroundHelper {
    @extend .backgroundHelper;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

