@import '../../bootstrap.scss';
@import '../../style/card.scss';

.Sidemenu {
    position: fixed;

    h1 {
        margin-bottom: 40px;
        width: $sub-menu-with;
    }

    h2 {
        margin-bottom: 20px;
    }

    .MenuList {
        ul {
            padding-left: 15px;
        }

        li {
            list-style: none;

            font-size: 16px;
            line-height: 28px;

            span {
                color: $brand-light-gray;
                margin-left: 5px;
                font-size: 12px;
            }
        }
    }
}

.BackgroundHelper {
    @extend .backgroundHelper;
}

.Background {
    @extend .background;
}