@import '../../bootstrap.scss';
@import '../../style/card.scss';
@import '../../style/fonts.scss';

.Sidemenu {
    @extend .background;

    position: fixed;
    height: 120%;

    @include media-breakpoint-down(md) {
        display: none;
    }

    h1 {
        margin-bottom: 40px;
        width: $sub-menu-with;
    }

    h2 {
        margin-bottom: 20px;
    }

    .MenuList {
        padding-left: 15px;

        li {
            @extend h4;
            list-style: none;
            cursor: pointer;

            &.active {
                ul {
                    max-height: 500px;
                }
            }
        }

        .MenuSubList {
            padding: 0 0 0 10px;
            margin-left: 10px;
            max-height: 0px;
            overflow: hidden;

            transition: max-height 700ms ease-in-out;

            li {
                @extend h5;
                list-style: disc;
                cursor: pointer;
            }
        }
    }
}

.BackgroundHelper {
    @extend .backgroundHelper;

    @include media-breakpoint-down(md) {
        display: none;
    }
}

.Background {
    
}
